<h1>New Recipe!</h1>

<form method='post' action='/recipes'>
<fieldset>
<ol>
<li><label for="name">Name</label></li>
<input type='text' name='name' id='name'></input>

<li><label for="content">Ingredients</label><li>
<textarea rows="10" columns="50" name="content" id="content" ></textarea>
</ol>
</fieldset>
<%# <input type='text' name='name' id='name'> %>
<input type='submit' id='submit' value='submit'></input>
</form>

<a href="/">Hompepage</a>