<style>
  body{
      background-image: url(https://previews.123rf.com/images/vicushka/vicushka1602/vicushka160200213/52823712-fresh-seasonal-organic-vegetables-salad-preparation-with-dressings-ingredients-cutlery-and-kitchen-c.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center center;
  }

  nav.menu {
     color: black;
  }
</style> 
<h1>Create New Recipe!</h1>

<nav class=menu>
<form method='post' action='/recipes' class='one'>

<h3>Name</h3>
<label for="name"></label>
<input type='text' name='name' id='name'></input>
<br></br>

<h3>Instructions</h3>
<label for="content"></label>
<textarea rows="10" columns="50" name="content" id="content" ></textarea>

<h3>Ingredients</h3>
  <table id="ingredient_table" class=table>
    <th>Item</th>
    <th>Quantity</th>
    <th>Unit</th>
    <tr>
      <td><input type="text" name="item"></td>
      <td><input type="text" name="quantity"></td>
      <td><input type="text" name="unit"></td>
    </tr>
    <button type="button" onclick="addIngredient()">Add Ingredient</button>
    
<%# <input type='text' name='name' id='name'> %>
<input type='Submit' id='Submit' value='Submit'></input>

</form>
</nav>
<%# <a href="/recipes"><button>Back to Recipes</button></a>
<a href="/"><button>Homepage</button></a> %>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
function addIngredient() {
  $("#ingredient_table").append(
      "<tr>" +
        "<td><input type=\"text\" name=\"recipe[item]\"></td>" +
        "<td><input type=\"text\" name=\"recipe[quantity]\"></td>" +
        "<td><input type=\"text\" name=\"recipe[unit]\"></td>" +
      "</tr>"
  );
}
</script>
<%# </form> %>