<h1>Create New Recipe!</h1>

<form method='post' action='/recipes'>
<ol>
<li>
<h3>Name</h3>
<label for="name"></label>
<input type='text' name='name' id='name'></input>
</li><br></br>
<li>
<h3>Description</h3>
<label for="content"></label>
<textarea rows="10" columns="50" name="content" id="content" ></textarea>
</li>
<li>
<h3>Ingredients</h3>

  <table id="ingredient_table">
    <th>Ingredient</th>
    <th>Quantity</th>
    <th>Unit</th>
    <tr>
      <td><input type="text" name="item"></td>
      <td><input type="text" name="quantity"></td>
      <td><input type="text" name="unit"></td>
    </tr>
    <button type="button" onclick="addIngredient()">Add Ingredient</button>
</li>
</ol>
 
<%# <input type='text' name='name' id='name'> %>
<input type='Submit' id='Submit' value='Submit'></input>
</form>

<%# <a href="/recipes"><button>Back to Recipes</button></a>
<a href="/"><button>Homepage</button></a> %>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
function addIngredient() {
  $("#ingredient_table").append(
      "<tr>" +
        "<td><input type=\"text\" name=\"recipe[item]\"></td>" +
        "<td><input type=\"text\" name=\"recipe[quantity]\"></td>" +
        "<td><input type=\"text\" name=\"recipe[unit]\"></td>" +
      "</tr>"
  );
}
</script>