<h1>Hello, <%= current_user.username%> !</h1> 
<h2>Your Personal Recipe Menu:</h2>
<br></br>

    <% @recipes.each do |recipe| %>
        
        <h3>Name</h3>           
        <%= recipe.name %>
        <h3>Ingredients</h3> 
        <%= recipe.content %>
        <a href="/recipes/<%=recipe.id%>">View Recipe</a>
    <% end %>

<br></br>
<br></br>
<a href="/recipes/new"><button>New Recipe</button></a>
<a href='/'><button>Homepage</button></a>
<a href="/logout"><button>Log Out</button></a>

