<h1><%=@user.username%></h1>

<form>
<a href="recipes/new">New Recipe</a>
<ul><%@user.recipes.each do |recipe|%>
   <li>Name:<br></br><%= recipe.name%><br></br></li>
   <li>Ingredients:<br></br><%=recipe.content%> <br></br> <a href="/recipes/<%=recipe.id%>/edit">Edit</a></li>
    <%end%>
</ul>
</form>
<%# 
<a href="/recipes"><button>Back to Recipes</button></a> %>

