<h1>Log into Sinatra Recipes</h1>
<form method='post' action='/login'>
<fieldset>
    <label>Username:</label><input type='text' name='username'><br></br>
    <br></br>
    <label>Password:</label><input type='text' name='password'><br></br>
    <input type='submit' value='submit'>
</fieldset> 
</form>
<br></br>
<%# <p>If you dont have an account</p>  %>
<a href='/signup'><button>Sign Up</button></a> or <a href='/'><button>Homepage</button></a>