<style>
body{
    background-image: url(https://pbs.twimg.com/media/BqmeIiOCYAAXWgk.jpg)
}
h1{
    text-align: center;
    color: lightblue;
}
nav.one{
    text-align: center;
    font-size: 30px;
}
p.one{
    color: white;
    font-size: 25px;
}
</style>
<body>
<%# <h1>Welcome to Sinatra Web Recipes!</h1> %>
<%# <p class=one>Please Sign in or Sign up below:</p> %>
<br></br><br></br><br></br><br></br><br></br><br></br><br></br>
<nav class=one>
<p class=one>Please Sign in or Sign up below:</p>
  <% if is_logged_in? %>

    <a href="/recipes/new"> Create Recipe </a>
    <a href="/logout"> Log Out </a>
    <p>Welcome, <%=current_user.username %></p>

  <% else %>
    <a href="/signup">Sign Up</a>
    <a href="/login"> Sign In </a>
  <%end %>

</nav>
</body>